schema/characters.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="">
  <define name="characters">
    <oneOrMore>
      <element name="character">
        <choice>
          <element name="character">
            <attribute name="name">
              <value>cytb</value>
            </attribute>
            <attribute name="type">
              <value>molecular</value>
            </attribute>
          </element>
          <element name="character">
            <attribute name="name">
              <value>feathers</value>
            </attribute>
            <attribute name="type">
              <value>morphological</value>
            </attribute>
          </element>
          <element name="character">
            <attribute name="name">
              <value>osteology</value>
            </attribute>
            <attribute name="type">
              <value>morphological</value>
            </attribute>
          </element>
          <element name="character">
            <attribute name="name">
              <data type="string"/>
            </attribute>
            <attribute name="type">
              <data type="string"/>
            </attribute>
          </element>
        </choice>
      </element>
    </oneOrMore>
  </define>
</grammar>
