schema/characters.rnc

characters =
    (
        element character {
              element character {
                 attribute name { "cytb" },
                 attribute type { "molecular" }
              }|
              element character {
                 attribute name { "feathers" },
                 attribute type { "morphological" }
              }|
              element character {
                 attribute name { "osteology" },
                 attribute type { "morphological" }
              }|
              element character {
                 attribute name { string },
                 attribute type { string } 
              }    
        }+
    )
