schema/characters.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="">
  <define name="characters">
    <choice>
      <element name="character">
        <attribute name="name">
          <data type="string"/>
        </attribute>
        <attribute name="type">
          <choice>
            <value>morphological</value>
            <value>molecular</value>
            <value>behavioural</value>
            <value>other</value>
          </choice>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: 12S; large subunit rRNA; LSU rRNA; MT-RNR1
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=7470</a:documentation>
        <attribute name="name">
          <value>mitochondrially encoded 12S RNA</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: 16S; small subunit rRNA; SSU rRNA; MT-RNR2
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=7471</a:documentation>
        <attribute name="name">
          <value>mitochondrially encoded 16S RNA</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: 18S; RNA18S; small subunit rRNA; SSU rRNA
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=44278</a:documentation>
        <attribute name="name">
          <value>RNA, 18S ribosomal</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: RNA28S; 28S; large subunit rRNA; LSU rRNA
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=44286</a:documentation>
        <attribute name="name">
          <value>RNA, 28S ribosomal</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: 5.8S; RNA5-8S1; large subunit rRNA; LSU rRNA
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=44282</a:documentation>
        <attribute name="name">
          <value>RNA, 5.8S ribosomal 1</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: alpha-crystallin; a-crystallin; CRYAA; CRYA1; HSPB4
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=2388</a:documentation>
        <attribute name="name">
          <value>crystallin, alpha A</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: ATP6; A6; mitochondrially encoded ATP synthase 6; MT-ATP6; MTATP6; RP; ATPase6; ATPase-6; Su6m; ATP synthase F0 subunit 6; ATP synthase F0 subunit/chain A
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=7414</a:documentation>
        <attribute name="name">
          <value>ATP synthase 6</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: ATP8; A8; mitochondrially encoded ATP synthase 8; MT-ATP8;	MTATP8; A6L
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=7415</a:documentation>
        <attribute name="name">
          <value>ATP synthase 8</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <attribute name="name">
          <value>Adult morphology</value>
        </attribute>
        <attribute name="type">
          <value>morphological</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>DNA Amplified Fragment Length Polymorphism</a:documentation>
        <attribute name="name">
          <value>DNA-AFLP</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: ADK; AK; adenosine 5'-phosphotransferase
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=257</a:documentation>
        <attribute name="name">
          <value>adenosine kinase</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: ALDOB; aldolase B, fructose-bisphosphate
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=417</a:documentation>
        <attribute name="name">
          <value>ALDOB</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <attribute name="name">
          <value>Alleles</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <attribute name="name">
          <value>Allozymes</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: ANT2; SLC25A5; solute carrier family 25, member 5; 2F1; T2; T3
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=10991</a:documentation>
        <attribute name="name">
          <value>mitochondrial carrier; adenine nucleotide translocator</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: B-fibrinogen; FGB; fibrinogen, B beta polypeptide
url: ww.genenames.org/data/hgnc_data.php?hgnc_id=3662</a:documentation>
        <attribute name="name">
          <value>fibrinogen beta chain</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: BDNF; neurotrophin
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=1033</a:documentation>
        <attribute name="name">
          <value>brain-derived neurotrophic factor</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <attribute name="name">
          <value>Breeding</value>
        </attribute>
        <attribute name="type">
          <value>behavioural</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Avian sex chromosome</a:documentation>
        <attribute name="name">
          <value>CHDZ</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: RMRP; CHH; cartilage-hair hypoplasia; NME1; RMRPR; RRP2
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=10031</a:documentation>
        <attribute name="name">
          <value>RNA component of mitochondrial RNA processing endoribonuclease</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: CLTC; clathrin, heavy chain; clathrin, heavy polypeptide (Hc); clathrin, heavy polypeptide-like 2; CLTCL2; Hc
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=2092</a:documentation>
        <attribute name="name">
          <value>clathrin, heavy chain (Hc)</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: COI; COXI; MT-CO1; mitochondrially encoded cytochrome c oxidase I; cytochrome c oxidase I; MTCO1; CO1; COX1
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=7419</a:documentation>
        <attribute name="name">
          <value>mitochondrially encoded cytochrome c oxidase I</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: COII; COXII; MT-CO2; cytochrome c oxidase II; MTCO2; CO2; COX2
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=7421</a:documentation>
        <attribute name="name">
          <value>mitochondrially encoded cytochrome c oxidase II</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <attribute name="name">
          <value>complete mitochondrial genome</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: cytb; cyt-b; MT-CYB; mitochondrially encoded cytochrome b; MTCYB; COB; CYTB; UQCR3
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=7427</a:documentation>
        <attribute name="name">
          <value>cytochrome b</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: PCBD1; DCoH; pterin-4 alpha-carbinolamine dehydratase/dimerization cofactor of hepatocyte nuclear factor 1 alpha; 6-pyruvoyl-tetrahydropterin synthase/dimerization cofactor of hepatocyte nuclear factor 1 alpha (TCF1); DCOH; PCBD; pterin-4 alpha-carbinolamine dehydratase/dimerization cofactor of hepatocyte nuclear factor 1 alpha (TCF1) dimerizing cofactor for HNF1; PCD; pterin-4-alpha carbinolamine dehydratase; Pterin-4a-carbinolamine dehydratase (dimerization cofactor of hepatic nuclear factor 1-alpha)
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=8646</a:documentation>
        <attribute name="name">
          <value>pterin-4 alpha-carbinolamine dehydratase/</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: DIB; TXNL4A; thioredoxin-like 4; TXNL4; DIB1; DIM1; HsT161; "similar to S. pombe dim1+"; SNRNP15; U5-15kD
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=30551</a:documentation>
        <attribute name="name">
          <value>thioredoxin-like 4A</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <attribute name="name">
          <value>DNA-hybridisation</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <attribute name="name">
          <value>Ecology</value>
        </attribute>
        <attribute name="type">
          <value>other</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: EF1-alpha; EEF1A1; EEF1A; EF1A; LENG7; leukocyte receptor cluster (LRC) member 7; EE1A1
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=3189</a:documentation>
        <attribute name="name">
          <value>eukaryotic translation elongation factor 1 alpha 1</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: EF2; EEF2; EEF-2; polypeptidyl-tRNA translocase
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=3214</a:documentation>
        <attribute name="name">
          <value>eukaryotic translation elongation factor 2</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <attribute name="name">
          <value>DNA Electrophoresis</value>
        </attribute>
        <attribute name="type">
          <value>other</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: EN1
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=3342</a:documentation>
        <attribute name="name">
          <value>engrailed homeobox 1</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: EN2
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=3343</a:documentation>
        <attribute name="name">
          <value>engrailed homeobox 2</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <attribute name="name">
          <value>enzymes</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: EPRS; QARS; QPRS; EARS; GLUPRORS; glutamate tRNA ligase; PARS; proline tRNA ligase
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=3418</a:documentation>
        <attribute name="name">
          <value>glutamyl-prolyl-tRNA synthetase</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: FGA; fibrinogen, A alpha polypeptide
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=3661</a:documentation>
        <attribute name="name">
          <value>fibrinogen alpha chain</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: FGB; fibrinogen, B beta polypeptide
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=3662</a:documentation>
        <attribute name="name">
          <value>fibrinogen beta chain</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: FGG; fibrinogen, gamma polypeptide
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=3694</a:documentation>
        <attribute name="name">
          <value>fibrinogen gamma chain</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: GAPDH; GAPD
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=4141</a:documentation>
        <attribute name="name">
          <value>glyceraldehyde-3-phosphate dehydrogenase</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: GH1; GH; GH-N; GHN; hGH-N; pituitary growth hormone; somatotropin
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=4261</a:documentation>
        <attribute name="name">
          <value>Growth Hormone 1</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: GH2; GH-V; GHL; GHV; hGH-V; placenta-specific growth hormone
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=4262</a:documentation>
        <attribute name="name">
          <value>Growth Hormone 2</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <attribute name="name">
          <value>habitat</value>
        </attribute>
        <attribute name="type">
          <value>behavioural</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: H3F3
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=4764</a:documentation>
        <attribute name="name">
          <value>H3 Histone</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: HMG; high-mobility group (nonhistone chromosomal); HMG1; Amphoterin; DKFZp686A04236; SBP-1; Sulfoglucuronyl carbohydrate binding protein
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=4983</a:documentation>
        <attribute name="name">
          <value>High Mobility Group</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: HSPA1A; HSPA1; HSP70-1; Hsp70
url:  http://www.genenames.org/data/hgnc_data.php?hgnc_id=5232</a:documentation>
        <attribute name="name">
          <value>heat shock 70kDa protein 1A</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: HSPA1B; HSP70-2; Hsp70
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=5233</a:documentation>
        <attribute name="name">
          <value>heat shock 70kDa protein 1B</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: IGS; IGCD1; IGDC1; INHBP; KIAA0364; MGC75490; PGSF2
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=5948</a:documentation>
        <attribute name="name">
          <value>Immunoglobin Superfamily</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <attribute name="name">
          <value>Immunology</value>
        </attribute>
        <attribute name="type">
          <value>other</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <attribute name="name">
          <value>Integument</value>
        </attribute>
        <attribute name="type">
          <value>morphological</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: IRF2
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=6117</a:documentation>
        <attribute name="name">
          <value>interferon regulatory factor 2</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: ITS1</a:documentation>
        <attribute name="name">
          <value>Internal Transcribed Spacer 1</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: ITS2</a:documentation>
        <attribute name="name">
          <value>Internal Transcribed Spacer 2</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <attribute name="name">
          <value>larval morphology</value>
        </attribute>
        <attribute name="type">
          <value>morphological</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: LDHB
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=6541</a:documentation>
        <attribute name="name">
          <value>lactate dehydrogenase B</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <attribute name="name">
          <value>Morphometrics</value>
        </attribute>
        <attribute name="type">
          <value>morphological</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: MPP; DXS552E
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=7219</a:documentation>
        <attribute name="name">
          <value>Membrane protein</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <attribute name="name">
          <value>mitochondrial control region</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: MUSK
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=7525</a:documentation>
        <attribute name="name">
          <value>muscle, skeletal, receptor tyrosine kinase</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: MB
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=6915</a:documentation>
        <attribute name="name">
          <value>Myoglobin</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <attribute name="name">
          <value>Myology</value>
        </attribute>
        <attribute name="type">
          <value>morphological</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: NaK; TBK1
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=11584</a:documentation>
        <attribute name="name">
          <value>TANK-binding kinase 1</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: ND1; MT-ND1; MTND1; NADH dehydrogenase 1; complex I ND1 subunit; NAD1; NADH-ubiquinone oxidoreductase chain 1
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=7455</a:documentation>
        <attribute name="name">
          <value>mitochondrially encoded NADH dehydrogenase 1</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: ND2; MT-ND2; MTND2; NADH dehydrogenase 2; complex I ND2 subunit; NAD2; NADH-ubiquinone oxidoreductase chain 2
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=7456</a:documentation>
        <attribute name="name">
          <value>mitochondrially encoded NADH dehydrogenase 2</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: ND5; MT-ND5; MTND5; NADH dehydrogenase 5; complex I ND5 subunit; NAD5; NADH-ubiquinone oxidoreductase chain 5
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=7461</a:documentation>
        <attribute name="name">
          <value>mitochondrially encoded NADH dehydrogenase 5</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: NGFB; NGF
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=7808</a:documentation>
        <attribute name="name">
          <value>nerve growth factor (beta polypeptide)</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: NTF3; NGF2
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=8023</a:documentation>
        <attribute name="name">
          <value>neurotrophin 3</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <attribute name="name">
          <value>Osteology</value>
        </attribute>
        <attribute name="type">
          <value>morphological</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: OVOG</a:documentation>
        <attribute name="name">
          <value>Avian ovomucoid intron G</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: PEPCK; PCK2; PEPCK2
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=8725</a:documentation>
        <attribute name="name">
          <value>phosphoenolpyruvate carboxykinase 2 (mitochondrial)</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <attribute name="name">
          <value>Plumage</value>
        </attribute>
        <attribute name="type">
          <value>morphological</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: POLII; POLR2A; POLR2; polymerase (RNA) II (DNA directed) polypeptide A (220kD); DNA-directed RNA polymerase II largest subunit, RNA polymerase II 220 kd subunit; POLRA; RNA polymerase II subunit B1; RPB1
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=9187</a:documentation>
        <attribute name="name">
          <value>polymerase (RNA) II (DNA directed) polypeptide A</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <attribute name="name">
          <value>Preproinsulin</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <attribute name="name">
          <value>proteins</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: RAG1; MGC43321; recombination activating protein 1; RING finger protein 74; RNF74; V(D)J recombination-activating protein 1
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=9831</a:documentation>
        <attribute name="name">
          <value>recombination activating gene 1</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: RHO; retinitis pigmentosa 4, autosomal dominant; RP4;  OPN2; opsin 2, rod pigment
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=10012</a:documentation>
        <attribute name="name">
          <value>Rhodopsin</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <attribute name="name">
          <value>spermatozoal morphology</value>
        </attribute>
        <attribute name="type">
          <value>morphological</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: TGFB2
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=11768</a:documentation>
        <attribute name="name">
          <value>transforming growth factor, beta 2</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: TM9SF4; dJ836N17.2; KIAA0255
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=30797</a:documentation>
        <attribute name="name">
          <value>transmembrane 9 superfamily protein member 4</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <attribute name="name">
          <value>Tracheal</value>
        </attribute>
        <attribute name="type">
          <value>morphological</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: tRNA-Glu; MT-TE; MTTE; tRNA glutamic acid; trnE
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=7479</a:documentation>
        <attribute name="name">
          <value>mitochondrially encoded tRNA glutamic acid</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: tRNA-Lys; MT-TK; MERRF, MTTK, tRNA lysine; trnK
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=7489</a:documentation>
        <attribute name="name">
          <value>mitochondrially encoded tRNA lysine</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: tRNA-Phe; MT-TF; MTTF; tRNA phenylalanine; trnF
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=7481</a:documentation>
        <attribute name="name">
          <value>mitochondrially encoded tRNA phenylalanine</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: tRNA-Thr; MT-TT; MTTT; tRNA threonine; trnT
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=7499</a:documentation>
        <attribute name="name">
          <value>mitochondrially encoded tRNA threonine</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: tRNA-Leu; MT-TL; MTTL1; tRNA leucine; TRNL
url http://www.genenames.org/data/hgnc_data.php?hgnc_id=7490</a:documentation>
        <attribute name="name">
          <value>mitochondrially encoded tRNA leucine</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: tRNA-Val; MT-TV; MTTV; tRNA valine; trnV
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=7500</a:documentation>
        <attribute name="name">
          <value>mitochondrially encoded tRNA valine</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: U2; RNU2
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=10142</a:documentation>
        <attribute name="name">
          <value>RNA, U2 small nuclear</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <element name="character">
        <a:documentation>Common abbreviations/alternative nomenclature: v-myc; MYC; bHLHe39; c-Myc; MYCC
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=7553</a:documentation>
        <attribute name="name">
          <value>v-myc avian myelocytomatosis viral oncogene homolog</value>
        </attribute>
        <attribute name="type">
          <value>molecular</value>
        </attribute>
        <ref name="char_info"/>
      </element>
      <oneOrMore>
        <element name="character">
          <a:documentation>Common abbreviations/alternative nomenclature: ZENK; EGR1; AT225; early growth response protein 1; G0S30; KROX-24; nerve growth factor-induced protein A; NGFI-A, TIS8; transcription factor ETR103; ZIF-268; zinc finger protein 225; ZNF225
url: http://www.genenames.org/data/hgnc_data.php?hgnc_id=3238</a:documentation>
          <attribute name="name">
            <value>early growth response 1</value>
          </attribute>
          <attribute name="type">
            <value>molecular</value>
          </attribute>
          <ref name="char_info"/>
        </element>
      </oneOrMore>
    </choice>
  </define>
</grammar>
