schema/phylo_storage.rnc

include "spud_base.rnc"
include "characters.rnc"
include "analyses.rnc"

start =
    (
        ## Phylo storage is a XML based storage system for source trees
        ## used for supertree analysis. This node is the top level - find the
        ## sources and trees below.
        element phylo_storage {
            comment,
            ## This project's name 
            element project_name {
                anystring
            },
            ## The source trees. Each source consists of a single
            ## reference (paper, book, etc) and one or more trees
            element sources {
                element source {
                    source
                }+
            },
            ## Automatic recording of the projects history in terms
            ## of which processing steps have been used.
            ## Feel free to add extra comments too.
            element history {
                element event {
                    ## Format: 2011-12-31 14:14:54.242
                    element datetime {
                        anystring
                    },
                    ## This is normally a command used
                    element action {
                        anystring
                    },
                    ## Some notes on this action
                    comment
                }*
            }
        }
    )

# End of main options

source=
(
    ## A human-readable name for this 
    ## source tree. This can be automatically generated by clicking
    ## the "Auto-gen name" button below.
    attribute name { string },
    (
    ## Information on the source publication. The button below can be
    ## used to parse a bibtex citation foe this reference.
    element source_publication {
        element article {
            ## Enter each author seperately
            element authors {
                element author {
                    person
                }+
            },
            ## The title of the work
            element title {
                anystring
            },
            ## Year of original publication
            element year {
                integer
            },
            element journal {
                anystring
            }?,
            element pages {
                anystring
            }?,
            element number {
                anystring
            }?,
            element publisher {
                anystring
            }?,
            element editors {
                element editor {
                    person
                }+
            }?,
            element series {
                anystring
            }?,
            element doi {
                anystring
            }?
        }
    },
    ## This stores the character data used to construct the 
    ## source tree(s).
    element character_data {
        characters
    },
    ## Which analytical methods were used to create
    ## the source tree?
    element analyses_used {
        analyses
    },
    ## The tree data. This is a Nexus formatted tree string. You can import
    ## a standard Nexus file using the "Import tree" button below or copy 
    ## paste a string.
    element tree_data {
        anystring
    }+
    )
)

person= 
(
    element family_name {
        anystring
    },
    element other_names {
        anystring
    }
)

