schema/phylo_storage.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <include href="characters.rng"/>
  <include href="analyses.rng"/>
  <start>
    <element name="phylo_storage">
      <a:documentation>Phylo storage is a XML based storage system for source trees
used for supertree analysis. This node is the top level - find the
sources and trees below.</a:documentation>
      <ref name="comment"/>
      <element name="project_name">
        <a:documentation>This project's name </a:documentation>
        <ref name="anystring"/>
      </element>
      <element name="sources">
        <a:documentation>The source trees. Each source consists of a single
reference (paper, book, etc) and one or more trees</a:documentation>
        <oneOrMore>
          <element name="source">
            <ref name="source"/>
            <ref name="comment"/>
          </element>
        </oneOrMore>
        <ref name="comment"/>
      </element>
      <element name="history">
        <a:documentation>Automatic recording of the projects history in terms
of which processing steps have been used.
Feel free to add extra comments too.</a:documentation>
        <zeroOrMore>
          <element name="event">
            <element name="datetime">
              <a:documentation>Format: 2011-12-31 14:14:54.242</a:documentation>
              <ref name="anystring"/>
            </element>
            <element name="action">
              <a:documentation>This is normally a command used</a:documentation>
              <ref name="anystring"/>
            </element>
            <ref name="comment">
              <a:documentation>Some notes on this action</a:documentation>
            </ref>
          </element>
        </zeroOrMore>
      </element>
    </element>
  </start>
  <!-- End of main options -->
  <define name="source">
    <attribute name="name">
      <a:documentation>A human-readable name for this 
source tree. This can be automatically generated by clicking
the "Auto-gen name" button below, or using Standardise source names function.</a:documentation>
      <data type="string" datatypeLibrary=""/>
    </attribute>
    <group>
      <optional>
        <element name="contributor">
          <a:documentation>Contributer - information about the person adding this 
data to the file.</a:documentation>
          <ref name="person"/>
          <optional>
            <element name="institution">
              <data type="string" datatypeLibrary=""/>
            </element>
          </optional>
        </element>
      </optional>
      <element name="bibliographic_information">
        <a:documentation>Information on the source publication. Use the File-&gt;Import bibliography
to read in a bibtex file and populate all your bibliographic data</a:documentation>
        <ref name="publication"/>
        <ref name="comment">
          <a:documentation>Some notes on this action</a:documentation>
        </ref>
      </element>
      <oneOrMore>
        <element name="source_tree">
          <a:documentation>This is a source tree and associated meta-data</a:documentation>
          <oneOrMore>
            <attribute name="name">
              <data type="string" datatypeLibrary=""/>
            </attribute>
          </oneOrMore>
          <element name="tree">
            <element name="tree_string">
              <a:documentation>The tree string. This is a Newick/Nexus formatted tree string. You can import
a file using the "Import tree" button below or copy 
paste a string. Tested using Meqsuite, Treeview, Dendroscope to generate trees.</a:documentation>
              <ref name="anystring"/>
            </element>
            <element name="figure_legend">
              <ref name="anystring"/>
            </element>
            <element name="figure_number">
              <ref name="anystring"/>
            </element>
            <element name="page_number">
              <ref name="anystring"/>
            </element>
            <ref name="comment"/>
            <element name="tree_inference">
              <a:documentation>Information on how the tree was created, software, etc</a:documentation>
              <oneOrMore>
                <ref name="analysis">
                  <a:documentation>Which analytical methods were used to create
the this tree?</a:documentation>
                </ref>
              </oneOrMore>
              <ref name="comment"/>
              <optional>
                <ref name="software">
                  <a:documentation>Which software was used?</a:documentation>
                </ref>
              </optional>
              <optional>
                <element name="parameters_used">
                  <a:documentation>Did the authors give the command or parameters used to 
create the tree?</a:documentation>
                  <ref name="anystring"/>
                </element>
              </optional>
              <ref name="evolution_models"/>
              <zeroOrMore>
                <element name="character_weights">
                  <ref name="anystring"/>
                </element>
              </zeroOrMore>
              <optional>
                <ref name="consensus"/>
              </optional>
              <ref name="comment"/>
            </element>
            <element name="topology">
              <element name="outgroup">
                <a:documentation>Which taxon or taxa were the outgroup in this study? Just make a list here</a:documentation>
                <ref name="anystring"/>
              </element>
              <optional>
                <element name="rooting">
                  <a:documentation>Was the tree rooted or unrooted?</a:documentation>
                  <attribute name="type">
                    <choice>
                      <value>Rooted</value>
                      <value>Unrooted</value>
                    </choice>
                  </attribute>
                </element>
              </optional>
            </element>
            <optional>
              <element name="tree_support">
                <a:documentation>Any tree support values recorded?</a:documentation>
                <ref name="anystring"/>
              </element>
            </optional>
            <optional>
              <element name="branch_support">
                <a:documentation>Are branch supports available? What kind? Add the treestring with branch supports
below. Experimental.</a:documentation>
                <element name="tree_string">
                  <a:documentation>a tree string with support values added</a:documentation>
                  <ref name="anystring"/>
                </element>
                <ref name="support"/>
                <ref name="comment"/>
              </element>
            </optional>
            <optional>
              <element name="branch_lengths">
                <a:documentation>Are branch lengths available? What kind? Add the treestring with branch lengths
below. Experimental.</a:documentation>
                <element name="tree_string">
                  <a:documentation>a tree string with branch lengths</a:documentation>
                  <ref name="anystring"/>
                </element>
                <optional>
                  <element name="units">
                    <ref name="anystring"/>
                  </element>
                </optional>
                <ref name="evolution_models"/>
                <ref name="comment"/>
              </element>
            </optional>
          </element>
          <element name="taxa_data">
            <a:documentation>You can store information about taxa in the tree
in this section. Mix of fossil and extant, fossil only or extant only.

If fossil and extant, which taxa are fossil taxa.</a:documentation>
            <choice>
              <element name="mixed_fossil_and_extant">
                <oneOrMore>
                  <ref name="taxon"/>
                </oneOrMore>
              </element>
              <element name="all_extant">
                <zeroOrMore>
                  <ref name="taxon"/>
                </zeroOrMore>
              </element>
              <element name="all_fossil">
                <zeroOrMore>
                  <ref name="taxon"/>
                </zeroOrMore>
              </element>
            </choice>
          </element>
          <ref name="comment"/>
          <element name="character_data">
            <a:documentation>This stores the character data used to construct the 
source tree(s).</a:documentation>
            <oneOrMore>
              <ref name="characters"/>
            </oneOrMore>
          </element>
          <ref name="comment">
            <a:documentation>Some notes on this action</a:documentation>
          </ref>
        </element>
      </oneOrMore>
    </group>
  </define>
  <define name="publication">
    <choice>
      <element name="article">
        <element name="authors">
          <a:documentation>Enter each author seperately</a:documentation>
          <oneOrMore>
            <element name="author">
              <ref name="person"/>
            </element>
          </oneOrMore>
        </element>
        <element name="title">
          <a:documentation>The title of the work</a:documentation>
          <ref name="anystring"/>
        </element>
        <element name="year">
          <a:documentation>Year of original publication</a:documentation>
          <ref name="integer"/>
        </element>
        <optional>
          <element name="journal">
            <ref name="anystring"/>
          </element>
        </optional>
        <optional>
          <element name="volume">
            <ref name="anystring"/>
          </element>
        </optional>
        <optional>
          <element name="number">
            <ref name="anystring"/>
          </element>
        </optional>
        <optional>
          <element name="pages">
            <ref name="anystring"/>
          </element>
        </optional>
        <optional>
          <element name="issue">
            <ref name="anystring"/>
          </element>
        </optional>
        <optional>
          <element name="doi">
            <ref name="anystring"/>
          </element>
        </optional>
        <optional>
          <element name="url">
            <ref name="anystring"/>
          </element>
        </optional>
      </element>
      <element name="book">
        <element name="authors">
          <a:documentation>Enter each author seperately</a:documentation>
          <oneOrMore>
            <element name="author">
              <ref name="person"/>
            </element>
          </oneOrMore>
        </element>
        <element name="title">
          <a:documentation>The title of the work</a:documentation>
          <ref name="anystring"/>
        </element>
        <element name="year">
          <a:documentation>Year of original publication</a:documentation>
          <ref name="integer"/>
        </element>
        <optional>
          <element name="editors">
            <oneOrMore>
              <element name="editor">
                <ref name="person"/>
              </element>
            </oneOrMore>
          </element>
        </optional>
        <optional>
          <element name="series">
            <ref name="anystring"/>
          </element>
        </optional>
        <optional>
          <element name="publisher">
            <ref name="anystring"/>
          </element>
        </optional>
        <optional>
          <element name="doi">
            <ref name="anystring"/>
          </element>
        </optional>
        <optional>
          <element name="url">
            <ref name="anystring"/>
          </element>
        </optional>
      </element>
      <element name="in_book">
        <element name="authors">
          <a:documentation>Enter each author seperately</a:documentation>
          <oneOrMore>
            <element name="author">
              <ref name="person"/>
            </element>
          </oneOrMore>
        </element>
        <element name="title">
          <a:documentation>The title of the work</a:documentation>
          <ref name="anystring"/>
        </element>
        <element name="year">
          <a:documentation>Year of original publication</a:documentation>
          <ref name="integer"/>
        </element>
        <optional>
          <element name="editors">
            <oneOrMore>
              <element name="editor">
                <ref name="person"/>
              </element>
            </oneOrMore>
          </element>
        </optional>
        <optional>
          <element name="series">
            <ref name="anystring"/>
          </element>
        </optional>
        <optional>
          <element name="publisher">
            <ref name="anystring"/>
          </element>
        </optional>
        <optional>
          <element name="pages">
            <ref name="anystring"/>
          </element>
        </optional>
        <optional>
          <element name="doi">
            <ref name="anystring"/>
          </element>
        </optional>
      </element>
      <element name="in_collection">
        <element name="authors">
          <a:documentation>Enter each author seperately</a:documentation>
          <oneOrMore>
            <element name="author">
              <ref name="person"/>
            </element>
          </oneOrMore>
        </element>
        <element name="title">
          <a:documentation>The title of the work</a:documentation>
          <ref name="anystring"/>
        </element>
        <element name="year">
          <a:documentation>Year of original publication</a:documentation>
          <ref name="integer"/>
        </element>
        <optional>
          <element name="editors">
            <oneOrMore>
              <element name="editor">
                <ref name="person"/>
              </element>
            </oneOrMore>
          </element>
        </optional>
        <element name="booktitle">
          <ref name="anystring"/>
        </element>
        <optional>
          <element name="series">
            <ref name="anystring"/>
          </element>
        </optional>
        <optional>
          <element name="publisher">
            <ref name="anystring"/>
          </element>
        </optional>
        <optional>
          <element name="pages">
            <ref name="anystring"/>
          </element>
        </optional>
        <optional>
          <element name="doi">
            <ref name="anystring"/>
          </element>
        </optional>
        <optional>
          <element name="url">
            <ref name="anystring"/>
          </element>
        </optional>
      </element>
    </choice>
  </define>
  <define name="person">
    <element name="surname">
      <a:documentation>Surname, family or last name</a:documentation>
      <ref name="anystring"/>
    </element>
    <element name="other_names">
      <ref name="anystring"/>
    </element>
  </define>
  <define name="taxon">
    <element name="taxon">
      <attribute name="name">
        <a:documentation>Name is exactly as in tree</a:documentation>
        <data type="string" datatypeLibrary=""/>
      </attribute>
      <optional>
        <element name="known_synonyms">
          <zeroOrMore>
            <element name="synonym">
              <ref name="anystring"/>
            </element>
          </zeroOrMore>
        </element>
      </optional>
      <optional>
        <element name="accession_number_or_specimen_identifier">
          <a:documentation>Accession number/specimen identifier</a:documentation>
          <ref name="anystring"/>
          <!-- data repository need adding here - move to atributes -->
        </element>
      </optional>
      <ref name="taxon_type"/>
      <ref name="comment"/>
    </element>
  </define>
  <define name="taxon_type">
    <choice>
      <element name="fossil">
        <optional>
          <element name="locality">
            <ref name="anystring"/>
          </element>
        </optional>
        <optional>
          <element name="stratigraphic_range">
            <ref name="anystring"/>
          </element>
        </optional>
        <optional>
          <element name="first_occurrance">
            <ref name="anystring"/>
          </element>
        </optional>
        <optional>
          <element name="last_occurrance">
            <ref name="anystring"/>
          </element>
        </optional>
        <ref name="comment"/>
      </element>
      <element name="extant">
        <optional>
          <element name="locality">
            <ref name="anystring"/>
          </element>
        </optional>
        <optional>
          <element name="precise_georeference">
            <a:documentation>GPS, etc</a:documentation>
            <ref name="anystring"/>
          </element>
        </optional>
        <ref name="conservation"/>
        <ref name="comment"/>
      </element>
    </choice>
  </define>
  <define name="software">
    <element name="software">
      <a:documentation>Name and version of the software used</a:documentation>
      <attribute name="name">
        <data type="string" datatypeLibrary=""/>
      </attribute>
      <attribute name="version">
        <data type="string" datatypeLibrary=""/>
      </attribute>
    </element>
    <ref name="comment"/>
  </define>
  <!--
    Any value in the xml file can be accompanied by a comment
    displayed together in the gui.
  -->
  <define name="comment">
    <optional>
      <element name="comment">
        <data type="string"/>
      </element>
    </optional>
  </define>
  <!-- A simple string -->
  <define name="anystring">
    <element name="string_value">
      <!--
        Lines is a hint to the gui about the size of the text box.
        It is not an enforced limit on string length.
      -->
      <attribute name="lines">
        <value>1</value>
      </attribute>
      <data type="string"/>
    </element>
    <ref name="comment"/>
  </define>
  <!-- a filename for which the gui -->
  <define name="filename">
    <element name="string_value">
      <attribute name="type">
        <value>filename</value>
      </attribute>
      <!--
        Lines is a hint to the gui about the size of the text box.
        It is not an enforced limit on string length.
      -->
      <attribute name="lines">
        <value>1</value>
      </attribute>
      <data type="string"/>
    </element>
    <ref name="comment"/>
  </define>
  <define name="integer">
    <element name="integer_value">
      <attribute name="rank">
        <value>0</value>
      </attribute>
      <list>
        <data type="integer"/>
      </list>
    </element>
    <ref name="comment"/>
  </define>
  <!-- an integer vector of any length -->
  <define name="integer_vector">
    <element name="integer_value">
      <attribute name="rank">
        <value>1</value>
      </attribute>
      <attribute name="shape">
        <data type="integer"/>
      </attribute>
      <list>
        <oneOrMore>
          <data type="integer"/>
        </oneOrMore>
      </list>
    </element>
    <ref name="comment"/>
  </define>
  <!-- an integer tensor of any shape -->
  <define name="integer_tensor">
    <element name="integer_value">
      <attribute name="rank">
        <value>2</value>
      </attribute>
      <attribute name="shape">
        <list>
          <data type="integer"/>
          <data type="integer"/>
        </list>
      </attribute>
      <list>
        <oneOrMore>
          <data type="integer"/>
        </oneOrMore>
      </list>
    </element>
    <ref name="comment"/>
  </define>
  <define name="real">
    <element name="real_value">
      <attribute name="rank">
        <value>0</value>
      </attribute>
      <list>
        <data type="float"/>
      </list>
    </element>
    <ref name="comment"/>
  </define>
  <!-- An arbitrary length real vector -->
  <define name="real_vector">
    <element name="real_value">
      <attribute name="rank">
        <value>1</value>
      </attribute>
      <attribute name="shape">
        <data type="integer"/>
      </attribute>
      <list>
        <oneOrMore>
          <data type="float"/>
        </oneOrMore>
      </list>
    </element>
    <ref name="comment"/>
  </define>
  <!-- An arbitrary size real matrix (rank 2 tensor). -->
  <define name="real_tensor">
    <element name="real_value">
      <attribute name="rank">
        <value>2</value>
      </attribute>
      <attribute name="shape">
        <list>
          <data type="integer"/>
          <data type="integer"/>
        </list>
      </attribute>
      <list>
        <oneOrMore>
          <data type="float"/>
        </oneOrMore>
      </list>
    </element>
    <ref name="comment"/>
  </define>
  <define name="consensus">
    <choice>
      <element name="consensus_type">
        <attribute name="name">
          <data type="string" datatypeLibrary=""/>
        </attribute>
      </element>
      <element name="consensus_type">
        <attribute name="name">
          <value>Strict</value>
        </attribute>
      </element>
      <element name="consensus_type">
        <attribute name="name">
          <value>Majority Rules 50%</value>
        </attribute>
      </element>
      <element name="consensus_type">
        <attribute name="name">
          <value>Adams</value>
        </attribute>
      </element>
    </choice>
  </define>
  <define name="support">
    <choice>
      <element name="type_of_support">
        <attribute name="name">
          <data type="string" datatypeLibrary=""/>
        </attribute>
      </element>
      <element name="type_of_support">
        <attribute name="name">
          <value>Jacknifing</value>
        </attribute>
      </element>
      <element name="type_of_support">
        <attribute name="name">
          <value>Bootstrapping</value>
        </attribute>
      </element>
      <element name="type_of_support">
        <attribute name="name">
          <value>Bremer Support</value>
        </attribute>
      </element>
    </choice>
  </define>
  <define name="evolution_models">
    <zeroOrMore>
      <element name="model_of_evolution">
        <ref name="anystring"/>
      </element>
    </zeroOrMore>
  </define>
  <define name="conservation">
    <optional>
      <element name="conservation_status">
        <optional>
          <element name="iucn_red_list">
            <optional>
              <element name="category">
                <ref name="anystring"/>
              </element>
            </optional>
            <optional>
              <element name="criteria">
                <ref name="anystring"/>
              </element>
            </optional>
            <optional>
              <element name="url">
                <ref name="anystring"/>
              </element>
            </optional>
          </element>
        </optional>
        <optional>
          <element name="uk_bap">
            <optional>
              <element name="category">
                <ref name="anystring"/>
              </element>
            </optional>
            <optional>
              <element name="criteria">
                <ref name="anystring"/>
              </element>
            </optional>
            <optional>
              <element name="url">
                <ref name="anystring"/>
              </element>
            </optional>
          </element>
        </optional>
      </element>
    </optional>
  </define>
  <define name="char_info">
    <optional>
      <element name="link_to_online_data">
        <a:documentation>Is the data online anywhere, e.g. as a NEXUS file?</a:documentation>
        <ref name="anystring"/>
      </element>
    </optional>
    <optional>
      <element name="alignment_method">
        <optional>
          <element name="algorithm_or_method">
            <data type="string" datatypeLibrary=""/>
          </element>
        </optional>
        <optional>
          <ref name="software"/>
        </optional>
        <optional>
          <element name="parameters_used">
            <ref name="anystring"/>
          </element>
        </optional>
        <optional>
          <element name="corrected">
            <a:documentation>was the alignment corrected in any way?</a:documentation>
            <empty/>
          </element>
        </optional>
      </element>
    </optional>
    <ref name="comment"/>
  </define>
</grammar>
